/* Add CSS Styling */

.odd-number {
    background-color: #FF7F7F;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-elem {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.odd-number.third-elem {
    font-size: 24px;
}

#fourth-elem {
    background-color: rgb(127, 218, 127);
    font-size: 24px;
    font-weight: bold;
}