/* Add CSS Styling */

.first-elem{
    color: white;
    background-color: black;
}

.second-elem{
    background-color: yellow;
}

.first-elem, .second-elem{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}