body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  height: 225px;
  background: #fff;
  margin: 16px auto;
}

.title {
  display: inline-block;
  background: #e3f4ff;
  padding: 10px 295px 10px 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px;
  margin: 0 auto;
}